# Compilados de Visual Studio / .NET
bin/
obj/
Debug/
Release/
[Bb]uild/
[Bb]in/
[Oo]bj/

# Archivos de usuario de VS
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos temporales
*.log
*.vspscc
*.vssscc
*.tmp
*.temp

# Configuración de VS Code
.vscode/

# Archivos de sistema
Thumbs.db
*.DS_Store
